<footer class="bg-white mt-5 footer-custom">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>À propos de moi</h5>
                <p>Développeur web passionné par la création de solutions innovantes et efficaces.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:jovany.bernez@gmail.com">jovany.bernez@gmail.com</a></li>
                    <li><a href="tel:+33623785984">0623785984</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h5>Suivez-moi</h5>
                <ul class="list-unstyled d-flex">
                    <li class="me-3"><a href="https://www.facebook.com/jovany.bnz/"><i class="fab fa-facebook-f"></i></a></li>
                    <li class="me-3"><a href="https://www.linkedin.com/in/jovany-bernez/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li class="me-3"><a href="https://www.tiktok.com/@toman.jo"><i class="fab fa-tiktok"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="container d-flex justify-content-between">
            <!--bouton mode nuit -->
            <button id="toggle-dark-mode" class="btn btn-primary">Mode Nuit</button>
            <button onclick="window.location.href='{{ path('homepage') }}'" class="btn btn-primary">Accueil</button>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">&copy; {{ "now"|date("Y") }} Jovany Bernez. Tous droits réservés.</p>
            </div>
        </div>
    </div>
    
</footer>


{% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const toggleButton = document.getElementById('toggle-dark-mode');
                if (toggleButton) {
                    toggleButton.addEventListener('click', function() {
                        document.body.classList.toggle('dark-mode');
                        console.log('Mode Nuit activé'); // Message de débogage
                    });
                } else {
                    console.error('Bouton "Mode Nuit" non trouvé');
                }
            });
        </script>
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script></script>
{% endblock %}