body {
    background-color: rgb(64,161,224);
}

/* header */
.navbar-nav .nav-link {
    color: rgb(64,161,224);
}

.container.mt-5 {
    color: white;
}

.link-white {
    color: black;
}

.link-white:hover {
    color: aqua; /* Couleur blanche bleutée très claire */
}

/* footer */
.footer-custom {
    color: rgb(64,161,224);
}

.footer-custom a {
    color: rgb(64,161,224);
}

.footer-custom a:hover {
    color: rgb(64,161,224);
    text-decoration: underline;
}

/* Mode nuit */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Styles supplémentaires pour le mode nuit */
.dark-mode .footer-custom {
    color: black;
}

.dark-mode .footer-custom a {
    color: black;
}

.dark-mode .footer-custom a:hover {
    color: aqua;
    text-decoration: underline;
}

.dark-mode .footer-custom p {
    color: black;
}

.dark-mode .footer-custom li {
    color: black;
}

.dark-mode .btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.dark-mode .btn-primary:hover {
    background-color: aqua;
    border-color: #333333;
}

/* Positionnement des boutons mode nuit et accueil dans le footer */
.container.d-flex.justify-content-between {
    display: flex;
    justify-content: space-between;
}

/* Styles pour le header en mode nuit */
.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode .navbar-nav .nav-link:hover {
    color: black;
    background-color: aqua;
}

.dark-mode .navbar-brand h1 {
    color: black;
}

.dark-mode .btn-outline-primary {
    border-color: black;
    color: black;
}

.dark-mode .btn-outline-primary:hover {
    background-color: aqua;
    color: #121212;
}

.dark-mode .navbar-nav .nav-link {
    color: black;
}

.navbar-nav .btn-sm {
    font-size: 0.875rem; /* Taille de police plus petite pour les boutons */
    padding: 0.25rem 0.5rem; /* Ajuste le padding pour les boutons plus petits */
}

.navbar-nav.mb-2 {
    margin-bottom: 1rem; /* Ajoute un espace entre les boutons de connexion/déconnexion et les autres boutons */
}

#dev-web-link:hover {
    color: #ffcc00 !important;
}

.dark-mode .night-mode-text {
    color: #ffffff !important;
}

/* Styles pour le bouton "Écrivez-moi !" */
.btn-outline-primary.btn-sm {
    font-size: 0.875rem; /* Taille de police plus petite pour le bouton */
    padding: 0.25rem 0.5rem; /* Ajuste le padding pour le bouton plus petit */
    margin-bottom: 1rem; /* Espace en dessous du bouton */
}

/* Styles pour les liens de la navbar */
.navbar-nav .nav-link {
    margin-bottom: 0.5rem; /* Espace entre les liens */
}

/* Positionnement des boutons "Connexion" et "Écrivez-moi !" au-dessus des liens de la navbar */
.navbar-collapse {
    display: flex;
    flex-direction: column;
}

.navbar-collapse .d-flex {
    width: 100%;
    justify-content: flex-end;
}

.navbar-collapse .navbar-nav {
    width: 100%;
}

/* Styles pour le bouton "Connexion" en mode nuit */
.dark-mode .btn-connexion {
    color: black !important;
}

/* Styles pour les images de même hauteur */
.same-height {
    height: 300px; /* Ajuster cette valeur  */
    object-fit: cover; /* Pour s'assurer que l'image couvre toute la hauteur sans déformation */
}
