{% extends 'base.html.twig' %}

{% block title %}Détail du Mémo{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ memo.titre }}</h1>
            <p class="card-text">{{ memo.contenu|nl2br|auto_link|raw  }}</p>
            <p class="card-text">
                <small class="text-muted">Créé le {{ memo.createdAt|date('d/m/Y H:i') }}</small>
            </p>
        </div>
    </div>
</div>
{% endblock %}